{%  extends 'yanness/movie/../movie/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="container" style="margin-left: 1%; margin-right: 1%">
        <div class="layout__boxTitle">
            <a href="/">
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32"
                     viewBox="0 0 32 32">
                    <title>arrow-left</title>
                    <path d="M13.723 2.286l-13.723 13.714 13.719 13.714 1.616-1.611-10.96-10.96h27.625v-2.286h-27.625l10.965-10.965-1.616-1.607z"></path>
                </svg>
            </a>
            <h3>Back</h3>
        </div>

        <h1 style="font-weight: bold; font-size: 25px; color: #ccbb6a ">Login Here</h1>
    </div>

    <div>
        <form method="post" class="form-group">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-primary"> Login</button>
            <p>Don't have a account? Please create one in <a href="/register">here</a></p>
        </form>
    </div>
{% endblock %}