{%  extends 'yanness/movie/../movie/base.html' %}


{% block content %}
    <h1 style="font-style: oblique; color: darkred; font-size: 25px; font-weight: bold">Warning!!</h1>
    <div style="margin: 1%">
        Are you sure to delete <u style="font-weight: bold; font-size: 20px">{{ m.name }}</u> ?
        <div>
            <form class="form" method="POST">
                {% csrf_token %}
                <br>
                <input class="btn btn--main" type="submit" value="Confirm" />
            </form>
            <hr>
        </div>
    </div>

{% endblock %}